<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserShoppingCartMapper">

<!--    增加购物车-->
    <update id="addShoppingCartNum">
        update shopping_cart set number=number+1
        <where>
            <if test="dishId!=null">
                and dish_id=#{dishId}
            </if>
            <if test="userId!=null">
                and user_id=#{userId}
            </if>
            <if test="dishFlavor!=null">
                and dish_flavor=#{dishFlavor}
            </if>
        </where>
    </update>

<!--    number字段减一-->
    <update id="subDish">
        update shopping_cart set number=number-1
        <where>
            <if test="dishId!=null">
                and dish_id=#{dishId}
            </if>
            <if test="dishFlavor!=null">
                and dish_flavor=#{dishFlavor}
            </if>
            <if test="">
                and number > 1
            </if>
        </where>
    </update>

<!--    删除菜品-->
    <delete id="delShoppingCart">
        delete from shopping_cart
        <where>
            <if test="dishId!=null">
                and dish_id=#{dishId}
            </if>
            <if test="dishFlavor!=null">
                and dish_flavor=#{dishFlavor}
            </if>
        </where>
    </delete>

    <select id="queryShoppingCart" resultType="com.sky.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId!=null">
                and user_id=#{userId}
            </if>
            <if test="dishId!=null">
                and dish_id = #{dishId}
            </if>
            <if test="dishFlavor!=null and dishFlavor!='' ">
                and dish_flavor=#{dishFlavor}
            </if>
        </where>
    </select>
</mapper>